

body
{
	background-color: #1f253d;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color:#FFF;
}
.formu
{	
	width: 700px;

	margin: auto;
	border-radius: 10px;
	text-align: center;
	margin-top: 50px;
	background-color: #394264;
	padding: 20px;
}
.aChercher, .chemin
{
	width: 300px;
	height: 40px;
	color: white;
	background-color: #50597b;
	margin-bottom: 10px;
	border: 2px solid #11a8ab;
	border-radius: 5px;
	padding: 5px;
}
input:focus
{
	outline: none;
}
.autreext
{
	color: white;
	background-color: #50597b;
	height: 40px;
	border: 2px solid #11a8ab;
	border-radius: 5px;
	padding: 5px;
}
.ext
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: silver;
}
h2
{
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

/*tr:nth-child(even) {background: #50597b}
tr:nth-child(odd) {background: #FFF}
*/

.formu h1
{
	font-size: 50px;
	margin-top: 0px;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
.formu button
{
	background-color:#11a8ab;
	height: 40px;
	width: 150px;
	border: none;
	color: white;
	font-size: 20px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: -10px;
}

.result
{
	max-width: 100% !important;
	display:table;
	margin:0 auto;
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: #394264;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}



table
{
	border: 1px solid #343c5b;
	border-width:1px;
		border-style:solid;
		 border-collapse:collapse
}
td, th
{
	border: 2px solid #2f3652;
	padding: 2px;
	padding-left:5px;


}
p.hint
{
		display: none;
}  

.error
{
	min-width: 700px;
	text-align: center;
	background:#ff6767;
	display:table;
	margin:0 auto;
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
}



div.hintautreext:hover > p.hint
{
	  position: absolute;
		
	  display: block;
	font-size: 14px;
	  color: white;
	  margin: -32px 0px 0px 460px;
	  padding: 3px 8px;
	  background: #1f253d;
	  border: 2px solid #11a8ab;
	  border-radius: 5px;   
	  box-shadow: 2px 2px 2px black;  
}

